
form(ng-submit="handler.check()")

	.form-group.form-group-lg.has-feedback(
		class="{{model.showSolution ? handler.isCorrect(model.text, handler.exercise.solution) ? 'has-success' : 'has-error'  : ''}}"
	)
		input.form-control.input-lg(
			ng-disabled="model.showSolution",
			ng-model="model.text"
		)
		span.glyphicon.glyphicon-ok.form-control-feedback(
			ng-show="model.showSolution && handler.isCorrect(model.text, handler.exercise.solution)"
		)
		span.glyphicon.glyphicon-remove.form-control-feedback(
			ng-show="model.showSolution && !handler.isCorrect(model.text, handler.exercise.solution)"
		)

	button.btn.btn-default.btn-lg.btn-block(type="submit", ng-hide="model.showSolution") Verificar
	
div(ng-show="model.showSolution && !handler.isCorrect(model.text, handler.exercise.solution)")
	h4 Solução:
	div.bg-success
		{{handler.exercise.solution}}	
